{% extends 'dashboard.html' %} {% block content %}

<div id="main" class="main">
  <div class="pagetitle">
    <h1>Customer Profile</h1>
    <!-- <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav> -->
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Insert Customer</h5>

            <!-- General Form Elements -->
            <form id="myForm">
              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >Bussiness Name</label
                >
                <div class="col-sm-9">
                  <input
                    id="bussiness_name"
                    type="text"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >Name of TAX Payer</label
                >
                <div class="col-sm-9">
                  <input
                    id="name_of_tax_payer"
                    type="text"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >TIN</label
                >
                <div class="col-sm-9">
                  <input id="tin" type="text" class="form-control" value="" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputText" class="col-sm-3 col-form-label"
                  >RDO</label
                >
                <div class="col-sm-9">
                  <input id="rdo" type="text" class="form-control" value="" />
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-3 col-form-label"
                  >Address</label
                >
                <div class="col-sm-9">
                  <textarea
                    id="address"
                    class="form-control"
                    style="height: 80px"
                  >
                  </textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Tax Type</label>
                <div class="col-sm-9">
                  <select
                    id="tax_type"
                    class="form-select"
                    aria-label="Vatable"
                  >
                    <option value="Vatable ">Vatable</option>
                    <option value="Non-Vatable ">Non-Vatable</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <select
                    id="description"
                    class="form-select"
                    aria-label="Customer"
                  >
                    <option value="Customer">Customer</option>
                    <option value="Vendor">Vendor</option>
                    s
                  </select>
                </div>
              </div>

              <div class="text-center">
                <button type="button" class="btn btn-primary">Add</button>
              </div>
            </form>
            <!-- End General Form Elements -->
            <script>
              let bussiness_name = "";
              let name_of_tax_payer = "";
              let tin = "";
              let rdo = "";
              let address = "";
              let tax_type = "Vatable";
              let description = "Customer";

              const bussiness_name_el =
                document.getElementById("bussiness_name");
              const name_of_tax_payer_el =
                document.getElementById("name_of_tax_payer");
              const tin_el = document.getElementById("tin");
              const rdo_el = document.getElementById("rdo");
              const address_el = document.getElementById("address");

              const tax_type_el = document.getElementById("tax_type");
              const description_el = document.getElementById("description");

              bussiness_name_el.addEventListener("input", function (event) {
                bussiness_name = event.target.value;
                console.log("bussiness_name", bussiness_name);
              });
              name_of_tax_payer_el.addEventListener("input", function (event) {
                name_of_tax_payer = event.target.value;
                console.log(name_of_tax_payer);
              });
              tin_el.addEventListener("input", function (event) {
                tin = event.target.value;
                console.log(tin);
              });
              rdo_el.addEventListener("input", function (event) {
                rdo = event.target.value;
                console.log(rdo);
              });
              address_el.addEventListener("input", function (event) {
                address = event.target.value;
                console.log(address);
              });

              tax_type_el.addEventListener("change", function (event) {
                tax_type = event.target.value;
                console.log(tax_type);
              });
              description_el.addEventListener("change", function (event) {
                description = event.target.value;
                console.log(description);
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End #main -->

{% endblock %}
