{% extends 'dashboard.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script> -->

<link href="https://cdn.datatables.net/v/dt/dt-2.0.7/b-3.0.2/b-html5-3.0.2/date-1.5.2/datatables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.min.css" rel="stylesheet">

<!-- Other CSS and JS files -->
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<style>
    table {
        width: 100%; /* Ensure the table takes up the full width */
        table-layout: fixed; /* Fixed table layout to control column widths */
        }

    th {
        height: 70px;
        text-align: Center;
    }

    tr {
        text-align: Center;
    }

    td {
        height: 10px;
        padding: 0; /* Removes default padding from table cells */
        margin: 0; /* Removes default margin from table cells */
    }

    /* input {
        width: 450px;
        height: 40px;
        margin: 0;

    } */

    /* account_no */

    input[name^="account_no"] {
    width: 200px; /* Adjusted to fit within the table cell */
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

   /* Set the account title input width */
    input[name^="accountTitle"] {
        width: 520px; /* Adjusted to fit within the table cell */
        height: 40px;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        box-sizing: border-box;
    }

    /* Set the debit and credit input widths */
    input[type="number"] {
        width: 150px; /* Fixed width to ensure alignment without overlap */
        height: 40px;
        border: 1px solid #ccc;
        padding: 5px;
        margin: 0;
        box-sizing: border-box;
        display: inline-block; /* Ensure inputs are inline without additional spacing */
    }

    /* Optionally, set the widths of table columns to match your inputs */
    td:nth-child(2) { /* Assuming this is the column for accountTitle */
        width: 400px; /* Match the width of the accountTitle input */
    }

    td:nth-child(3), /* Assuming these are the columns for debit and credit */
    td:nth-child(4) {
        width: 150px; /* Match the width of the number inputs */
    }

    /* Optionally add this to ensure inputs align with each other */
    input[type="number"] {
        display: inline-block; /* Ensure inputs are inline without additional spacing */
    }
    
    
 
</style>
<body>
<form method="POST">

                <div class="container mt-3">
                    {% for messege in messeges %}
                    <div class="alert alert-danger" role="alert">
                    {{ messege }}
                    </div>
                    {% endfor %}
                </div>

                <div class="container1">
                    <label for="TransactionDate" >Transaction Date</label>
                        <input
                            type="date"
                            name="trans_date"
                            id="trans_date"
                            
                            >
                        </input> 

                        
                </div>
                
                <div class="container1">
                    <label for="Journal" >Journal</label>
                    <select name="trasactionType" id="trasactionType"class="filter-selectbox"
                        required
                        >
                            <option value="Payment">Payments</option>
                            <option value="Receipts">Receipts</option>
                            <option value="Sales">Sales</option>
                            <option value="Purchases">Purchases</option>
                            <option value="General">General</option>

                    
                        </select>  
                </div>
                

                  <div class="container1">
                    <label >Reference</label><br>
                    <input 
                        type="text"
                        name="reference"
                        id="reference"
                        
                        
                        >
                    </input>

                </div>
                
                <div class="container1">

                    <label >Journal Memo</label><br>
                    <textarea
                        type="input"
                        name="journal_memo" cols="35" rows="3"
                        id="journal_memo" required
                        >
                    </textarea>
                    

                </div>
                     
                    
                    
                
                    

                        

                        

                        

                    

    
            
                <div class="container mt-3">
                    <table class="table table-borderless">
                        <thead class="border-bottom font-weight-bold">
                            <tr>
                                <td>Account Code</td>
                                <td>AccounTitle</td>
                                <td>Debit</td>
                                <td>Credit</td>
                                


                                
                            
                                <!-- <td>
                                    <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                                    </i>Add</button>
                                </td> -->

                            
                            </tr>
                        </thead>
                        <tbody id="addrow">
                            
                            
                        </tbody>
                    </table>

                    
                
                

                <div class="container mt-3">
                    <button type="button"  id="add_button" class="btn btn-primary"><i class="fas fa-database">
                    </i>Add line</button>

                    <button type="submit" name='submit' id='submiBTN' class="btn btn-success">
                    <i class="fas fa-database"> 
                    </i>Save</button>
                </div>



                        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

                        

        
                        <script  type="text/javascript">
        
                        function getCookie(name) {
                            let cookieValue = null;
                            if (document.cookie && document.cookie !== '') {
                                const cookies = document.cookie.split(';');
                                for (let i = 0; i < cookies.length; i++) {
                                    const cookie = cookies[i].trim();
                                    // Does this cookie string begin with the name we want?
                                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                        break;
                                    }
                                }
                            }
                            return cookieValue;
                        }
                        const csrftoken = getCookie('csrftoken');
        
                        // Setting the Click Event Listener on the Submit Button
                        $(document).ready(function(){
                                var maxField = 10; // Input fields increment limitation
                                var addButton = $('#add_button'); // Add button selector
                                var wrapper = $('#addrow'); // Input field wrapper
                                var x = 0; // Initial field counter

                                // Once add button is clicked
                                $(addButton).click(function(){
                                    // Check maximum number of input fields
                                    x++; // Increment field counter
                                    var fieldHTML = `
                                        <tr>
                                            <td style="padding: 0; margin: 0;">
                                                <input type="text" 
                                                name="account_no${x}" 
                                                id="account_no${x}" />
                                            </td>
                                            <td style="padding: 0; margin: 0;">
                                                <input
                                                    type="text"
                                                    name="accountTitle${x}"
                                                    id="accountTitle${x}"
                                                    onchange="myFunction2()"
                                                    
                                                />
                                            </td>
                                            <td style="padding: 0; margin: 0;">
                                                <input
                                                    type="number"
                                                    name="amount${x}"
                                                    id="amount${x}"
                                                    class="amount"
                                                    step="0.01"
                                                    onchange="myFunction2()"
                                                    
                                                />
                                            </td>
                                            <td style="padding: 0; margin: 0;">
                                                <input
                                                    type="number"
                                                    name="credit_amount${x}"
                                                    id="credit_amount${x}"
                                                    class="credit_amount"
                                                    step="0.01"
                                                    onchange="myFunction2()"
                                                    
                                                />
                                            </td>
                                            <td style="padding: 0; margin: 0;">
                                                <button type="button" id="remove_button" class="btn btn-danger">
                                                    <i class="fas fa-database"></i> Remove
                                                </button>
                                            </td>
                                        </tr>`; // New input field HTML

                                    $(wrapper).append(fieldHTML); // Add field HTML
                                });

                            //Once remove button is clicked
                            $(wrapper).on('click', '#remove_button', function(e){
                                e.preventDefault();
                                $(this).closest('tr').remove(); //Remove field html 
                                myFunction2();
                                x--; //Decrement field counter
                            });
                            // this is for autocomplete of account title
                            $(document).on('focus', `[id^="accountTitle"]`, function() {
                                $(this).autocomplete({
                                source: "/autocomplete/"
                                });
                               
                            });
                        });
        
                        </script>
        
                        <script type="text/javascript">
                            function myFunction2() {
                            document.querySelector("#submiBTN").disabled = true;
                                var total = 0.0;
                                // let debitList = document.querySelector('input.amount');
                                let debitList = document.getElementsByClassName('amount');
                                let debitsum = 0;
                               
                                
                                for (let i of debitList){
                                    // console.log(i.value)
                                    let debitValue = parseFloat(i.value);
                                    
                                    debitsum += debitValue;
                                    debitsum2 = parseFloat(debitsum).toFixed(2)
                                }
                                


                                let creditList = document.getElementsByClassName('credit_amount');
                                let creditsum = 0;
                                

                                for (let i of creditList){
                                    let creditValue = parseFloat(i.value);
                                    creditsum += creditValue;
                                    creditsum2 = parseFloat(creditsum).toFixed(2)
                                }
                               
                                total = parseFloat(debitsum2) - parseFloat(creditsum2)

                                if (total === 0){
                                    document.getElementById("submiBTN").disabled = false;
                                }else{
                                    document.getElementById("submiBTN").disabled = true;
                                }
                            
                            }
                                
                        
                        </script>

                        <script>

                            $( function() {
                                
                                $("#account_no").autocomplete({
                                source: "/autocomplete/"
                                });
                            } );


                        </script>

                       

                </div>
</form>                
                
</body>
      
         
    
                 
                
        
    
    <!-- Add Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    
    
    <script src="/static/payroll/update_payroll.js"></script>
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/b-3.0.2/b-html5-3.0.2/date-1.5.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>


    <script>
      
     
    </script>
    
    
   

{% endblock %}